name: Build and Test Pull Request

# Trigger the workflow on push or pull request
on:
  push:
  pull_request:

env:
  GO_VERSION: 1.24
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false # avoid issue like ttributes_test.go: Cannot open: File exists
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: test
        run: |
          make test
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: build
        run: |
          make build
  build-docker-image-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5.5.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: image-amd64-build-only
        run: |
          make image-amd64-build-only
  e2e:
    runs-on: ubuntu-latest
    needs:
    - build-docker-image-linux
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      with:
        # * Module download cache
        # * Build cache (Linux)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-${{ github.job }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ github.job }}-go-
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
      with:
        go-version: ${{ env.GO_VERSION }}
        cache: false
    - name: install kubernetes tool chain
      run: |
        ./hack/actions/install-kubernetes-toolchain.sh $GITHUB_WORKSPACE/bin
        echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
    - name: e2e tests
      run: |
        make e2e
