name: Publish Releases to Docker Hub

on:
  push:
    tags:
      - '*'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: kubevip
          password: ${{ secrets.DOCKERHUB_KUBEVIP_TOKEN }}
      - name: Login to Github Packages
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push main branch
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm/v7,linux/arm64,linux/ppc64le
          push: ${{ github.event_name != 'pull_request' }}
          tags: >-
            kubevip/kube-vip-cloud-provider:${{ github.ref_name }},
            kubevip/kube-vip-cloud-provider:latest,
            ghcr.io/kube-vip/kube-vip-cloud-provider:${{ github.ref_name }},
            ghcr.io/kube-vip/kube-vip-cloud-provider:latest
          build-args: |
            VERSION=${{ github.ref_name }}
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
